body {
    background-color: #009688 !important;
}

.row{
    background-color: #009688;
}
.flight_element{
    font-size: 18px;
    font-weight: 600;
}
#center_form{
    margin-left: 25% ;
    margin-top: 60px;
    margin-bottom: 60px;
    width:50% ;
}

/*  cards style */
.flight-tracker {
    position: relative;
    height: auto;
    width: 550px;
    margin-left: 30% ;
    margin-top: 30px;

font-family: 'Ubuntu Mono';
    font-weight: 400;
    color: #4e4e4e;
    border-radius: 32px / 28px;

}
.flight-tracker header {
    background: white;
    border-radius: 32px 32px 0 0 / 28px 28px 0 0;
    padding: 7px 15px;

}
.flight-tracker header h1.aa-logo {
    display: block;
    margin-top: -4px;
    text-indent: 101%;
    white-space: nowrap;
    height: 20px;
    width: 130px;
}
.flight-tracker header .flight-time {
    position: absolute;
    top: 7px;
    right: 235px;
    font-size: 18px;
}
.flight-tracker header .flight-number {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 18px;
}
.flight-tracker .flight-details {
    margin: -1px 0 0;
}
.flight-tracker .flight-duration {
    padding: 7px 15px;
    background: white;
}
.flight-tracker .flight-duration .flight-end {
    float: right;
}
#aeroport{
    font-size: 18px;
    font-weight: 600;
}
.flight-tracker footer {
    background-color: #289dd7;
    background-image: -webkit-linear-gradient(#289dd7, #0e8acf);
    background-image: linear-gradient(#289dd7, #0e8acf);
    border-radius: 0 0 32px 32px / 0 0 28px 28px;
    height: 53px;
    color: white;
    font-size: 11px;
    text-shadow: 1px 1px 2px rgba(13, 25, 68, 0.4);
    box-shadow: 0 10px 24px rgba(13, 25, 68, 0.7);
    overflow: hidden;
}
.flight-tracker footer strong {
    display: block;
    font-weight: 400;
    font-size: 24px;
}
.flight-tracker footer .flight-from {
    position: absolute;
    bottom: 12px;
    left: 15px;
}
.flight-tracker footer .flight-to {
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 12px;
}
.flight-tracker footer .flight-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 100px;
    background: #015683;
    border-radius: 1px;
    box-shadow: 0 0 2px rgba(13, 25, 68, 0.4);
}
.flight-tracker footer .flight-progress::before {
    content: '\20';
    display: block;
    height: 2px;
    width: 0%;
    background: white;
    border-radius: 1px;
    box-shadow: inset 0 0 1px rgba(13, 25, 68, 0.4);
}
.flight-tracker footer .flight-progress::after {
    content: '\20';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2px;
    width: 2px;
    background: white;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px white;
}
.flight-tracker .airplaine {

    left: 50%;
    font-size: 48px;
    text-shadow: 1px 1px 2px rgba(13, 25, 68, 0.4);
    -webkit-animation: airplaine 12s infinite;
    -moz-animation: airplaine 12s infinite;
    animation: airplaine 12s infinite;
}
